name: Release

on: workflow_dispatch

jobs:
    test:
        name: Run tests
        uses: ./.github/workflows/test.yml

    release:
        needs: [test]
        runs-on: ubuntu-latest
        steps:
            - uses: actions/setup-node@v3
              with:
                  # codfish/semantic-release-action@v2 needs 18+
                  node-version: 20
            - uses: actions/checkout@v4
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  persist-credentials: false

            - name: Install dependencies
              run: npm i

            - name: Semantic release
              uses: codfish/semantic-release-action@v2
              env:
                  GITHUB_TOKEN: ${{ secrets.GH_OWNER_TOKEN }}
                  NPM_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
                  GIT_AUTHOR_NAME: '${{ github.actor }}'
                  GIT_COMMITTER_NAME: '${{ github.actor }}'
